@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
$dark-blue: #29375b;
$dark-blue-opacity: #29375bde;
$yellow: #fad85d;
$yellow-opacity: #fad85df2;

* {
  font-family: "Poppins";
}

.bold {
  font-weight: bold;
}

.darkblue-bg {
  background-color: $dark-blue !important;
}

.btn-custom {
  background-color: $dark-blue !important;
  color: white !important;
}

.no-outline {
  outline: none !important;
  box-shadow: none !important;
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.margin-bottom {
  margin-bottom: 30px;
}

.padding {
  padding: 30px;
}

.error {
  color: red;
}

.active {
  color: white;
}
