@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

$dark-blue: #29375b;
$dark-blue-opacity: #29375bde;
$yellow: #fad85d;
$yellow-opacity: #fad85df2;

* {
  font-family: "DM Sans";
}

.bold {
  font-weight: bold;
}

.darkblue-bg {
  background-color: $dark-blue !important;
}

.btn-custom {
  background-color: $dark-blue !important;
  color: white !important;
}

.no-outline {
  outline: none !important;
  box-shadow: none !important;
}

.no-border {
  border: transparent;
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.box-shadow-low {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px;
}

.margin-bottom {
  margin-bottom: 30px;
}

.padding {
  padding: 30px;
}

.error {
  color: red;
}

.active {
  color: white;
}

.pointer {
  cursor: pointer;
}

.white-color {
  color: white;
}

.wrapper {
  position: relative;
  height: 55px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.drop-down {
  width: 220px;
  position: absolute;
  right: 12px;
}

.content-wrapper {
  padding: 12px;
}