@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

$dark-blue: #29375b;
$dark-blue-opacity: #29375bde;
$yellow: #fad85d;
$yellow-opacity: #fad85df2;
$gray: #9ea5b5;
$bg: #f6f8fa;

* {
  font-family: "DM Sans";
}

body {
  background-color: $bg;
}

.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
}

@media only screen and (min-width: 979px) {
  .page-container {
    margin: 150px auto 0px auto;
    width: calc(100% - 150px);
  }
}

@media only screen and (max-width: 979px) {
  .page-container {
    margin: 150px auto 0px auto;
    width: calc(100% - 24px);
  }
}

.bold {
  font-weight: bold;
}

.darkblue-color {
  color: $dark-blue;
}

.darkblue-bg {
  background-color: $dark-blue !important;
}

.btn-custom {
  background-color: $dark-blue !important;
  color: white !important;
}

.no-border {
  border: transparent;
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.box-shadow-low {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px;
}

.margin-bottom {
  margin-bottom: 30px;
}

.padding {
  padding: 30px;
}

.error {
  color: red;
}

.pointer {
  cursor: pointer;
}

.white-color {
  color: white;
}

.wrapper {
  position: relative;
  height: 55px;
  background-color: $bg;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 12px;
  padding-right: 12px;
}

.drop-down {
  width: 180px;
}

.drop-down-large {
  width: 100%;
}
.content-wrapper {
  padding: 12px;
}

.icon {
  font-size: 24.5px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-branch {
  margin-left: 20px;
}

.float-right {
  float: right;
}

.success {
  color: green;
}

.center-h-v {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .notification-icon {
    font-size: 60px;
    color: $dark-blue;
  }

  .notification-msg {
    font-size: 20px;
    color: $dark-blue;
  }
}

.inquiries-container {
  width: calc(100% - 24px);
  margin: 0 auto;
}

.inquiry-container {
  background-color: white;
  margin: 20px 0px;
  border-radius: 20px;
}

.inquiry-icon {
  font-size: 30px;
}

.students-container {
  width: calc(100% - 24px);
  margin: 0 auto;
}

.searchbar {
  max-width: 300px;
}

.attendance-sheet-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  border-radius: 2px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.3);
  padding: 10px 10px 10px 10px;

  .expand,
  .collapse {
    font-size: 20px;
  }
}

// This is a checkbox from w3schools

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: $dark-blue;
}

input:focus + .slider {
  box-shadow: 0 0 1px $dark-blue;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
